.Card-container{
    width: 30vw;
    display: grid;
    grid-template-rows: 40vh 10vh 10vh;
    background-color: white;
    border-radius: 10px;
    border: 1px solid  black;
}

.Card-container > * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

.Card-image{
    height: 90%;
    width: 90%;
    object-fit: contain;
}

@media only screen and (max-width: 600px){
    .Card-container{
        width: 80vw;
        display: grid;
        grid-template-rows: 40vh 10vh 10vh;
        border-radius: 10px;
        border: 1px solid  black;
        background-color: white;
    }
}