.App-container {
  display: grid;
  grid-template-rows: 75vh 25vh;
  grid-template-columns: 35vw 30vw 35vw;
  overflow: hidden;
}

.App-container > *{
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-card{
  border-radius: 10px;
  border: 1px solid  black;
}

.App-logo{
  height: 50%;
  width: 75%;
  object-fit: contain
}

#App-feedback{
  font-size: 3vh;
  font-weight: bold
}


@keyframes removeLike{
  from{
    transform: translateX(0vw)
  }

  to{
    transform: translateX(-100vw);
    display: none
  }
}

@keyframes addLike{
  from{
    transform: translateX(0vw)
  }

  to{
    transform: translateX(100vw) ;
    display: none
  }
}
